*{
  margin: 0px;
  padding: 0px;
  font-family: Jost, Helvetica, sans-serif;
}

body{
  background-color: #D9D9D9;
}
header{
  background-color: #FFBF00	;
  width:auto;
}
#ul_1{
  display: flex;
  list-style: none;
  font-size: 25px;
  width: 100%;
}
li{
  padding: 5px 70px 0px 20px;
}

a{ 
  text-decoration:none;
  color: black;
}
#image_2{
  position:fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

  /* Conteneur principal */
  .container {
    display: flex;
    justify-content: center;
    margin: 100px auto;
  }
  
  /* Formulaire */
  .password-form {
    background-color: #ffffff;
    padding: 30px 60px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    font-size: 1.5rem;
  }
  
  .password-form label {
    display: block;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
  }
  
  .password-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  .password-form button {
    background-color: #333;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .bouton_1{
    color: white;
  }
  .password-form button:hover {
    background-color: #333;
    color : #ffffff;
  }
  
  /* Pied de page */
  .footer {
    background-color: transparent;
    color: #c00;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  
  .footer img {
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}