*{
    margin: 0px;
    padding: 0px;
    font-family: Jost, Helvetica, sans-serif;
}

body{
    background-color: #D9D9D9;
}
header{
    background-color: #FFBF00	;
    width:auto;
}
#ul_1{
    display: flex;
    list-style: none;
    font-size: 25px;
    width: 100%;
}
li{
    padding: 5px 70px 0px 20px;
}

a{ 
    text-decoration:none;
    color: black;
}
#image_2{
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.nom_carte,.num_carte{
    resize:none;
    overflow: auto;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

.date_expi,.cryptogramme{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}
#div_5,#div_6,#div_8,#div_9{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#div_7{
    display: flex;
}

#div_2{
    padding: 10px;
    margin: 70px auto;
}
nav{
    display: flex;
}

#div_3{
    margin: 10px;
}

.bouton_1{
    text-align: center;
    border: 2px;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 10px 0px;
    background-color: #2C2C2C;
    color:white
}

@media (max-width: 768px) {
    #ul_1 {
        flex-direction: column;
        align-items: center;
    }
    li {
        padding: 10px 0;
    }
    #image_2{
        display: none;
    }
    #div_2{
        margin: 50px; 
    }
    .image_1{
        width: 50%;
        height: 50%;
    }
    .nom_carte,.num_carte{
        width: 50%;
    }
    .date_expi,.cryptogramme{
        width: 50%;
    }
    #div_8,#div_9{
        margin: 0px;
    }
}

#ul_1 {
    flex-wrap: wrap;
}
