*{
    margin: 0px;
    padding: 0px;
    font-family: Jost, Helvetica, sans-serif;
}

body{
    background-color: #D9D9D9;
}
header{
    background-color: #FFBF00	;
    width:auto;
}
#ul_1{
    display: flex;
    list-style: none;
    font-size: 25px;
    width: 100%;
}
li{
    padding: 5px 70px 0px 20px;
}

a{ 
    text-decoration:none;
    color: black;
}
#image_2{
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}


hr {
    border: none;
    border-top: 1px solid white;
    margin: 10px 0;
}
#div_4, #div_6,#div_8,#div_10,#div_12{
    background-color: #2C2C2C;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 50px 90px 50px 90px;

}
#div_2{
    display: flex;
    width: 100%;
}
#div_3,#div_5,#div_7,#div_9,#div_11{
    padding: 10px;
    margin: auto;
}

.div_1 {
    display: flex;
}

@media (max-width: 768px) {
    #ul_1 {
        flex-direction: column;
        align-items: center;
    }
    li {
        padding: 10px 0;
    }
    #image_2{
        display: none;
    }
    #div_2,.div_1{
        flex-direction: column;
    }
    #div_3,#div_5,#div_7,#div_9,#div_11{
        padding: 10px;
        margin: auto;
        width: 260px;
    }
}

#ul_1 {
    flex-wrap: wrap;
}
